
	<html xmlns:th="http://www.thymeleaf.org">
	<head>
	    <title>change Password Page</title>
	</head>
	<body bgcolor="lavender">
	    <h1>ChangePassword</h1>
		<form action="/account/changePassword" method="post">
			<input type="hidden" name="_method" value="put" />
				<input type="hidden" name="username" th:value="${session.username}">
				New Password: <input type="text" name="password" step="0.01" required>
				<button type="submit">
					save
				</button>
			</form>
			</form>
			</form>
			</body>
			</html>
